@model StoreMVC.Models.ManagerIndexVM

@{
    Layout = "../Shared/_ManagerLayout.cshtml";
    ViewData["Title"] = "Manager Account";
}

<div class="text-center py-lg-4">
    <h1 class="display-4">Welcome, @Model.ManagerName, to Jake's Ice Creamery Store Manager</h1>
    @Html.ActionLink("View Locations", "ManagerIndex", "Location", new { @class = "hello" })
</div>