@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center py-lg-4">
    <h1 class="display-4">Welcome to Jake's Ice Creamery</h1>
    @* transition duration-300 ease-in-out rounded-lg p-3 bg-gray-200 hover:bg-gray-400 *@
    <a class="" asp-controller="Customer" asp-action="Login">Start Shopping</a>
</div>