@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center px-xl-5">
    <h1 class="display-4 font">Welcome to Jake's Ice Creamery</h1>
    <img class="img-fluid mx-xl-auto" src="~/img/ice-cream-banner.jpg" />
</div>