@model StoreMVC.Models.CustomerIndexVM

@{
    Layout = "../Shared/_CustomerLayout.cshtml";
    ViewData["Title"] = "Customer Account";
}

<div class="text-center py-lg-4">
    <h1 class="display-4">Welcome @Html.DisplayFor(model => model.CustomerName) to Jake's Ice Creamery</h1>
    @Html.ActionLink("Shop Locations", "CustomerIndex", "Location", new { email = @Html.DisplayFor(model => model.CustomerEmail) }, new { @class = "hello" })
</div>