@model StoreMVC.Models.CustomerIndexVM

@{
    Layout = "../Shared/_CustomerLayout.cshtml";
    ViewData["Title"] = "Customer Account";
}

<div class="text-center py-lg-4">
    <h1 class="display-4">Welcome, @Model.CustomerName, to Jake's Ice Creamery</h1>
    @Html.ActionLink("Shop Locations", "CustomerIndex", "Location", new { custId = Model.Id }, new { @class = "btn btn-primary" })
</div>

<div class="text-center py-lg-4">
    @Html.ActionLink("View Previous Orders", "PrevOrders", "Customer", new { custId = Model.Id }, new { @class = "btn btn-primary" })
</div>